<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <ul class="list-inline text-center">
            {% if TWITTER_URL %}
              <li>
                  <a href="{{ TWITTER_URL }}" target="_blank">
                      <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                      </span>
                  </a>
              </li>
              {% endif %}
              {% if FACEBOOK_URL %}
              <li>
                  <a href="{{ FACEBOOK_URL }}" target="_blank">
                      <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                      </span>
                  </a>
              </li>
              {% endif %}
              {% if GOOGLE_PLUS_URL %}
              <li>
                  <a href="{{ GOOGLE_PLUS_URL }}" target="_blank">
                      <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                      </span>
                  </a>
              </li>
              {% endif %}
              {% if PINTEREST_URL %}
              <li>
                  <a href="{{ PINTEREST_URL }}" target="_blank">
                      <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
                      </span>
                  </a>
              </li>
              {% endif %}
          </ul>
      </div>
    </div>
  </div>
</footer>

